@import "tailwindcss";

body {
  font-family: 'Raleway Variable', sans-serif;
}

html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}