---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/lhai.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>MECHA LIHAI</title>
	</head>
	<body>
		<div class="w-screen h-dvh bg-yellow-300">
			<div class="h-full flex justify-center items-center gap-4 text-[8vw]">
				<img id="logo" src="/lhai_hollow.svg" class="w-[2em] h-[2em]">
				<div class="relative overflow-hidden">
				<h1 id="title" class="uppercase font-black leading-none">
					mecha<br>
					lihai
				</h1>
			</div>
		</div>
	</body>
</html>


<script>
import { gsap } from "gsap";
const tl = gsap.timeline({repeat:-1, repeatDelay: .5});
const logo = document.getElementById("logo");
const rect = logo.getBoundingClientRect();

const startX = window.innerWidth/2 - (rect.left + rect.width/2);

const title = document.getElementById("title");
tl.set(logo, { x:startX, scale:0, rotate: -360 })
tl.to(logo, { scale: 1, rotate:0, duration: 1, ease: "power1.inOut" })
tl.to(logo, { x: 0, duration: 1, ease: "power1.inOut" })
tl.from(title, { x: "-100%", duration: 1, ease: "power1.inOut" })
tl.to(title, { x: "-100%", duration: 1, delay: 2, ease: "power1.inOut" })
tl.to(logo, { x: startX, duration: 1, ease: "power1.inOut" })
tl.to(logo, { scale: 0, rotate: -360, duration: 1, ease: "power1.inOut" })
</script>